<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
</head>

<body>
    <h1>Face Manager</h1>
    <nav class="navmenu">
        <ul class="navul">
            <form method="POST">
                <li class="navli"><input type="submit" value="logout" name="submit" class="nava"><br></li>
            </form>
            <li class="navli"><a class="nava" href=/home>Home</a></li>
            <li class="navli"><a class="nava" href=/video>Video Stream</a></li>
            <li class="navli"><a class="nava" href=/settings>User Manager</a></li>
            <li class="navli"><a class="nava" href=/faceManager>Faces Manager</a></li>
        </ul>
    </nav>
    <div class="conteneur">
        <form name="frmImage" enctype="multipart/form-data" method="post">
            <div class="addPics">
                <h2 class="titlePics">Add pics</h2>
                <input type="text" name="nom" id="name" placeholder="Name of the person">
                <input class="input-file" id="my-file" type="file" name="userImage" name="form_file">
                <p class="file-return"></p>
                <input type="submit" name="submit" class="button3" />
        </form>
    </div>

    </div>
</body>

</html>

<php>
    if(isset($_POST['submit']))
    {
    $total_usr = isset($allData['form_file']) ? count($allData['form_file']) : 0;
    if (($_FILES['form_file']['error'] == 0) AND (empty($_POST['nom'])))
    {
    echo '
    <script>alert("Nom ou fichier manquant !")</script>';
    }
    else
    {
    // Requête d'insertion et de vérification des noms
    if (count($_FILES) > 0) {
    if (is_uploaded_file($_FILES['userImage']['tmp_name']))
    {
    $imgData = addslashes(file_get_contents($_FILES['userImage']['tmp_name']));
    }
    }

    // Requête mysql pour insérer des données
    $sql1 = "INSERT INTO `image` (`id`, `name`, `img_src`) VALUES (NULL, '".$_POST['nom']."', '$imgData')";

    if ($conn->query($sql1) === TRUE)
    {
    echo '
    <script>alert("Fichier Update v2.0!")</script>';
    }
    else
    {
    // echo '
    <script>alert("Erreur upload!")</script>';
    }

    }
    }
    mysqli_close($conn);
</php>

<php>
    $servername = 'localhost';
    $username = 'root';
    $password = '';
    $dbname = "drone_db";

    //On établit la connexion
    $conn = new mysqli($servername, $username, $password, $dbname);

    //On vérifie la connexion
    if($conn->connect_error)
    {
    die('Erreur : ' .$conn->connect_error);
    }
    else
    {
    echo 'Connexion r&eacute;ussie &agrave; notre BDD ! <br><br>';
    }
    error_reporting(0);
</php>