<!DOCTYPE html>
<html>

<head>
    <div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <script src="https://kit.fontawesome.com/780ce5719d.js" crossorigin="anonymous"></script>
    </div>
</head>

<body>
    <h1>Serveur Secu</h1>
    <nav class="navmenu">
        <ul class="navul">
            <form method="POST">
                <li class="navli"><input type="submit" value="logout" name="submit" class="nava"><br></li>
            </form>
            <li class="navli"><a class="nava" href=/home>Home</a></li>
            <li class="navli"><a class="nava" href=/video>Video Stream</a></li>
            <li class="navli"><a class="nava" href=/settings>User Manager</a></li>
            <li class="navli"><a class="nava" href=/faceManager>Faces Manager</a></li>
        </ul>
    </nav>
    <div class="conteneurHome">
        <h3>Welcome, start drone video stream:</h3>
        <i class='fas fa-play' href=/video style='font-size:108px' onclick="window.location.href = '/video'"></i>
    </div>
</body>

</html>