<!DOCTYPE html>
<html>

<head>
    <div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <h1>Serveur Secu</h1>
    </div>
</head>
<div>
    <div> {{ Affiche }}</div>
    <form method="POST" class="login">
        <input required type="text" name="name" size="60" autocomplete="off" placeholder="username" class="username">
        <input required type="password" name="password" size="60" autocomplete="off" placeholder="Password"
            class="username"><br>
        <input class="buttonLogin" type="submit" value="Login" name="submit" >
    </form>
</div>
</body>

</html>