<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/static/script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <title>User Manager</title>
    <meta charset="utf-8">
</head>


<body>
    <h1>User Manager</h1>
    <nav class="navmenu">
        <ul class="navul">
            <form method="POST">
                <li class="navli"><input type="submit" value="logout" name="submit" class="nava"><br></li>
            </form>
            <li class="navli"><a class="nava" href=/home>Home</a></li>
            <li class="navli"><a class="nava" href=/video>Video Stream</a></li>
            <li class="navli"><a class="nava" href=/settings>User Manager</a></li>
            <li class="navli"><a class="nava" href=/faceManager>Faces Manager</a></li>
        </ul>
    </nav>
    <div class="conteneur">
        <div id="myDIV" class="header">
            <h2>Add user:</h2>
            <form method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-lg-8">
                        <input required class="form-control" type="text" placeholder="Add user..." name="userName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8">
                        <input required class="form-control" type="password" placeholder="Add user password..."
                            name="userPasswd">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="add" name="submit">
                </div>

            </form>
        </div>
        <div id="myDIV" class="header">
            <h2>User List:</h2>
            <div class="UserList">
                <form method="POST">
                    <ul class="ulUser" id="myUL">
                        {% for user in UserList %}
                        <div class="listUser">
                            <li class="liUser">{{ user.name }}</li>
                            <input class="rmUserButton" type="submit" value="remove {{user.name}}" name="submit">
                        </div>
                        {% endfor %}
                    </ul>
                </form>

            </div>

        </div>
    </div>

</html>