<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
  <title>Video Streaming</title>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io();

      // Event handler for new connections.
      // The callback function is invoked when a connection with the
      // server is established.
      socket.on('connect', function () {
        socket.emit('my_event', { data: 'I\'m connected!' });
      });

      // Event handler for server sent data.
      // The callback function is invoked whenever the server emits data
      // to the client. The data is then displayed in the "Received"
      // section of the page.
      socket.on('my_response', function (msg, cb) {
        $('#telemetrie').text('Received #' + msg.count + ': ' + msg.data).html();
        if (cb)
          cb();
      });

      $('form#disconnect').submit(function (event) {
        socket.emit('disconnect_request');
        return false;
      });
    });
  </script>
</head>


<body>
  <h1>Video Stream</h1>
  <nav class="navmenu">
    <ul class="navul">
      <form method="POST">
        <li class="navli"><input type="submit" value="logout" name="submit" class="nava"><br></li>
      </form>
      <li class="navli"><a class="nava" href=/home>Home</a></li>
      <li class="navli"><a class="nava" href=/video>Video Stream</a></li>
      <li class="navli"><a class="nava" href=/settings>User Manager</a></li>
      <li class="navli"><a class="nava" href=/faceManager>Faces Manager</a></li>
    </ul>
  </nav>
  <div class="conteneur">
    <div id="conteneur">
      <div class="telemetrie">
        <b> telemetrie: {{ async_mode }}</b><br>
        <b><span id="telemetrie"></span></b>
      </div>
      <div class="videoStream"><img src="{{ url_for('video_feed') }}" class="video"> </div>
      <!-- <video>
        <source src="rtmp://54.37.153.179/live/test">
      </video> -->
    </div>
    <!-- <form method="POST">
      <input type="submit" value="cap" name="submit" class="button_cap"><br>
    </form> -->
</body>

</html>