#conteneur {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.telemetrie {
  text-align: center;
  width: 300px;
  height: 400px;
  border: 5px solid rgb(2, 58, 72);
  background-color: rgb(6, 105, 129);
}

.videostream {
  border: 5px solid rgb(2, 58, 72);
}

.login {
  display: inline-block;
  text-align: center;
}

.buttonLogin {
  margin-top: 30px;
  margin-left: 37%;
  width: 200px;
}


body {
  background-color: rgb(0, 119, 128);
  text-align: center;

}

h1 {
  text-align: center;
  color: white;
  background-color: rgb(1, 83, 94);
  font-size: 100px;

}

h2 {
  color: white;
  font-size: 50px;
}

.user {
  color: white;
  font-size: 50px;
  text-align: left;
}

.username {
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 40px;
  width: 400px;
  border: 2px solid grey;
  border-radius: 12px;
  margin-bottom: 5px;
  margin-top: 100px;

}

.button {
  color: white;
  text-align: center;
  text-decoration: grey;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 40px;
  width: 200px;
  border-radius: 12px;


}

.button_back {
  float: left;
  color: white;
  text-align: center;
  text-decoration: grey;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 12px;
  margin-bottom: 1000px;

}

.button_cap {
  float: center;
  color: white;
  text-align: center;
  text-decoration: grey;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 12px;
  margin-bottom: 1000px;

}

.logout {

  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: grey;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 12px;
  margin-bottom: 100px;

}

.infos {
  text-align: left;
  color: white;
  font-size: 15px;

}

.video {
  width: 900px;
}

.footer {
  color: white;
  font-size: 10px;
  text-align: center;
  position: fixed;
  top: 770px;
  left: 650px
}

/* Menu :
/*Reset CSS*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

.navmenu {
  width: 100%;
  height: 100px;
  margin: 0px auto 40px auto;
  background-color: rgb(1, 83, 94);
  position: sticky;
  top: 0px;
}

.navul {
  list-style-type: none;
  height: 100px;
}

.navli {
  float: left;
  width: 15%;
  /*100% divisé par le nombre d'éléments de menu*/
  text-align: center;
  /*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
.navul::after {
  content: "";
  display: table;
  clear: both;
}

.nava {
  display: block;
  /*Toute la surface sera cliquable*/
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 83, 94);
  font-size: 20px;
  border-bottom: 2px solid transparent;
  /*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
  padding: 10px 0px;
  /*Agrandit le menu et espace la bordure du texte*/
}

.nava:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.conteneur {
  margin: 0px 20px;
  height: 1500px;
}




/* Userlist
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.listul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.listul li.listli {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.listul li.listli:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.listul li.listli:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.listul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.listul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgb(1, 83, 94);
  color: white;
}

/* Style the header */
.header {
  background-color: rgb(1, 83, 94);
  color: white;
  text-align: center;
  height: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.form-group>label {
  margin-bottom: 1%;
}

.form-group>input {
  margin-bottom: 1%;
}

.btn {
  font-size: 13px
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #76b7e9;
  outline: 0;
  box-shadow: 0 0 0 0px #28a745
}


.container {
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}

.form-horizontal {
  width: 50%;
  margin-left: 30%;
}

.form-horizontal>input {
  margin-left: 80%;
  background-color: white;
  border: solid #dae0e6 2px;
  border-radius: 30px;
}

.form-horizontal>input:hover {
  border: solid orange 2px;
  background-color: #ffd7ba;

}

.rmUserButton {
  width: 9, 5%;
  background-color: #d9d9d9;
}

.rmUserButton:hover {
  background-color: rgb(161, 7, 7);
  color: #dae0e6;
}

.UserList {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  margin-left: 25%;
  margin-right: 25%;
}

.UserList>form {
  width: 100%;
}

.ulUser {
  list-style-type: none;
  width: 100%;
  height: 100%;

}

.ululUser .liUser {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  /* Prevent double borders */
  background-color: #f6f6f6;
  text-decoration: none;
  font-size: 18px;
  color: black;

}

.listUser {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border: solid;
  border-width: 1px;
  border-color: #888
}

.liUser {
  padding-top: 2%;
  color: #17191b;
  width: 70%;
}

.addPics {
  height: 330px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(1, 83, 94);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.titlePics {
  display: flex;
}

#my-file {
  display: flex;
  width: 53%;
}

#name {
  display: flex;
  width: 50%;
}

.formPics {
  display: flex;
  color: white;
  height: 20%;
}

.conteneurHome {
  margin-top: 10%;
}

.button3 {
  color: #17191b;
}